*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  background-color: #1f1f1f;
}

.title {
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    letter-spacing: 4px;
    font-style: italic;
    font-size: 50px;
    text-shadow: 3px 3px 0px rgb(218, 60, 60); /*EixoX, EixoY, blur(Determina a forma que a sombra vai ficar borrado)*/
}

.gameContainer{
    text-align: center;
}

.board{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3,auto);
    margin: auto;
    width: 100px;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.cell {
  width: 100px;
  height: 100px;
  border: 2px solid #6b6b6b;

}

.cell:hover {
  background-color: #595959;
}

.cell.winner {
  background-color: #aaffaa;
}

.buttons-menu{
    margin: auto;
    gap: 30px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100px;
}

.buttons{
    border-bottom: 50px;
    font-family: "Courier New", monospace;
    background-color: rgb(218, 60, 60);
    font-size: 30px;
    color: white;
    border-radius: 4px;
    width: 300px;
    height: 80px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
}

.buttons:hover {
    transition: 1;
    font-family: "Courier New", monospace;
    background-color: rgb(246, 0, 0);
    font-size: 30px;
    color: white;
    border-radius: 4px;
    width: 300px;
    height: 80px;
    cursor: pointer;
}

.team-icon {
    width: 100% ;
    height: 100%;
    object-fit: contain;
}

.status{
    text-align: center;
    text-transform: uppercase;
    color: red;
    letter-spacing: 2px;
    font-style: italic;
    font-size: 30px;
    text-shadow: 1px 1px 3px rgb(255, 255, 255); 
    margin-bottom: 20px;
}