
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  background-color: #1f1f1f;
}

p{
    font-size: large;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title{
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    letter-spacing: 4px;
    font-style: italic;
    font-size: 50px;
    text-shadow: 3px 3px 0px rgb(218, 60, 60); /*EixoX, EixoY, blur(Determina a forma que a sombra vai ficar borrado)*/ 
    margin-bottom: 50px;
}

.content{
    padding-top: 20px;
    padding-left: 20px;
    width: 1000px;
    height: 300px;
    border: solid 2px rgb(47, 21, 21);
    background-color: rgb(218, 60, 60);
    margin-top: 10px;
    border-radius: 20px;
}

.content h2 {
    color: yellow;
    padding-bottom: 30px;
}

.buttons{
    margin-top: 30px;
    border-bottom: 50px;
    font-family: "Courier New", monospace;
    background-color: rgb(218, 60, 60);
    font-size: 30px;
    color: white;
    border-radius: 4px;
    width: 300px;
    height: 80px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
}

.buttons:hover {
    transition: 1;
    font-family: "Courier New", monospace;
    background-color: rgb(246, 0, 0);
    font-size: 30px;
    color: white;
    border-radius: 4px;
    width: 300px;
    height: 80px;
    cursor: pointer;
}